* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0 auto;
  width: 300px;
  overflow: hidden;
}

.slides {
  width: 400%;
  display: flex;
}

.slide {
  position: relative;
}

.slide-card {
  width: 300px;
}

.slide-title {
  background-color: #0033c6;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding: 0.4rem;
}

.slide-body {
  background-color: #eaf1f7;
  border-radius: 0 0 1rem 1rem;
  padding: 0.4rem 0.4rem 0.2rem;
}

.slide-body img {
  width: 300px;
  border-radius: 1rem;
}

.navigation {
  position: relative;
  width: 100%;
  height: 4rem;
}

.navigation input {
  display: none;
}

.manual-navigation {
  position: absolute;
  width: 300px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  background-color: #575757;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 300px;
  left: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  background-color: green;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #0033c6;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #0033c6;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #0033c6;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #0033c6;
}
